<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quyunshuo.xxx">

    <application
        android:name="com.quyunshuo.comm.CommApplication"
        android:allowBackup="true"
        android:label="@string/xxx_app_name"
        android:theme="@style/xxx_AppTheme">
        <activity android:name=".debug.DebugXXXActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>